#%RAML 0.8
baseUri: http://mocksvc.mulesoft.com/mocks/72a364ec-a69e-409d-b1ae-b0bfd993a822
title: Data Gateway Designer
mediaType: application/json
version: v0.1
schemas:
  - gatewaySetup: |
      {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "type": "object",
        "properties": {
          "remoteEntity" : { "type" : "string" },
          "name" : { "type" : "string" },
          "enabled" : {
                  "enum": ["true", "false"]
                },
          "properties" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "description": { "type" : "string" },
                "name": { "type" : "string" },
                "fieldName": { "type" : "string" },
                "length": { "type" : "string" },
                "nullable": { "type" : "string" },
                "type": { "type" : "string" },
                "key": {
                  "enum": ["true", "false"]
                }
              }
            }
          }
        }  
      }
      
  - importSchema: |
      {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "type": "object",
        "properties": {
            "overwrite": {
                "type": "boolean"
            },
            "entities": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "entityId": {
                            "type": "number"
                        }
                    }
                }
            }
        }
      }
      
  - agent: |
      {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "type": "object",
        "properties": {
          "description" : { 
            "maxLength": 100,
            "type" : "string" 
            },
          "installerId" : {  
            "type" : "integer" 
            }
          },
        "required": ["description", "installerId"]    
      }
# ------------------------------------------------------
/alive:
  displayName: health check resource
  get:
    description: Returns 200 if the app is up and running
    responses:
        200:
          body: 
            application/json:
              example: |            
                {
                  "message": "",
                  "isSuccessful": "true",
                  "data": {}
                }    
        500:
/status:
  displayName: health check resource
  get:
    description: Returns 200 if the app is up and running and a list of warnings if something is wrong or taking too long
    responses:
        200:
          body: 
            application/json:
              example: |            
                {
                  "message": "",
                  "isSuccessful": "true",
                  "data": [
                    {
                      "resource": "MySQL DB",
                      "status": "alive",
                      "timeSeconds": 5 
                    },
                    {
                      "resource": "Amazon S3",
                      "status": "alive",
                      "timeSeconds": 5 
                    },
                    {
                      "resource": "Core Services API",
                      "status": "alive",
                      "timeSeconds": 34 
                    },
                    {
                      "resource": "CH API",
                      "status": "alive",
                      "timeSeconds": 22 
                    },
                    {
                      "resource": "API Manager API",
                      "status": "dead",
                      "timeSeconds": 12 
                    },
                    {
                      "resource": "SDG Provider",
                      "status": "dead",
                      "timeSeconds": 5 
                    }
                  ]
                }    
        500:
# ------------------------------------------------------
/auth:
  displayName: authorization
  /callback:
    displayName: callback
    get:
      description: Descrive a gateway and the attributes that define it      
# ------------------------------------------------------
/login:
  displayName: Login
  post:
    description: Login through signed request
    body:
      application/x-www-form-urlencoded:
        formParameters:
          signed_request:
            description: The signed_request from Salesforce
            required: true
            type: string
  get:
    description: Login through signed request   
  # ------------------------------------------------------
  /anypoint:
    displayName: Login
    get:
      description: Login with cs token
# ------------------------------------------------------
/logout:
  displayName: Logout
  post:
    description: Logout CS Account  
    body:
      application/json:
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "data": {"url":"/login.html"},
                "isSuccessful": true,
                "message": ""
              }
      401:
        body:
          application/json: 
            example: |
              {
                "data": [],
                "isSuccessful": false,
                "message": "Unauthorized"
              }      
# ------------------------------------------------------
/connectivity:
  displayName: connectivity
  get:
    description: List of available connectivities
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "message": "",
                "isSuccessful": "true",
                "data": {
                  "count": 2,
                  "connectivity": [
                    {
                      "timestamp": "2015-01-08 15:41:15.0",
                      "id": "16",
                      "status": "active",
                      "description": "1",
                      "name": "test",
                      "properties": {
                        "region": "ap-northeast-1",
                        "authmeth": "PKI",
                        "ikeencalg": "3DES-CBC",
                        "netaddrspace": "3",
                        "itname": "2",
                        "chaddrspace": "2",
                        "nattrv": true,
                        "dhgrp": "1",
                        "authalg": "3DES-CBC",
                        "testendp": "2",
                        "perffordsec": false,
                        "gatewayip": "2",
                        "p1ikelife": 14,
                        "ikev": "IKEv1",
                        "encalg": "HMAC-MD5",
                        "ikeauthalg": "HMAC-MD5",
                        "p2life": 13,
                        "itphone": "321",
                        "ikedhgrp": false,
                        "exmode": "Aggressive",
                        "itemail": "3"
                      },
                      "connectivityTypeId": "1"
                    },
                    {
                      "timestamp": "2015-01-08 15:47:31.0",
                      "id": "17",
                      "status": "active",
                      "description": "1",
                      "name": "test",
                      "properties": {
                        "region": "ap-northeast-1",
                        "authmeth": "PKI",
                        "ikeencalg": "3DES-CBC",
                        "netaddrspace": "3",
                        "itname": "2",
                        "chaddrspace": "2",
                        "nattrv": true,
                        "dhgrp": "1",
                        "authalg": "3DES-CBC",
                        "testendp": "2",
                        "perffordsec": false,
                        "gatewayip": "2",
                        "p1ikelife": 14,
                        "ikev": "IKEv1",
                        "encalg": "HMAC-MD5",
                        "ikeauthalg": "HMAC-MD5",
                        "p2life": 13,
                        "itphone": "321",
                        "ikedhgrp": false,
                        "exmode": "Aggressive",
                        "itemail": "3"
                      },
                      "connectivityTypeId": "1"
                    }
                  ]
                }
              }
      401:
        body:
          application/json: 
            example: |
              {
                "data": [],
                "isSuccessful": false,
                "message": "You must login first"
              }
      503:
        body:
          application/json:
            example: |
              {
                "data": [],
                "isSuccessful": false,
                "message": "Service Unavailable"
              }
  post:
    description: Set the connectivity settings
    body:
      application/json:
        example:  |
          {
            "name": "VPC1",
            "description": "My very own VPC setup",
            "connectivityTypeId": "1",
            "draft": "false",
            "properties": {
              "specialistName": "Bart",
              "region": "North",
              "specialistEmail": "bla@mail.com"
            }
          }
    responses:
      201:
        body:
          application/json:
            example: |
              {
                "data": {"id":"1"},
                "isSuccessful": true,
                "message": ""
              }
      400:
        body:
          application/json: 
            example: |
              {
                "data": ["field 1 is invalid", "field 2 is invalid"],
                "isSuccessful": false,
                "message": "Validation failed"
              }  
      401:
        body:
          application/json: 
            example: |
              {
                "data": [],
                "isSuccessful": false,
                "message": "You must login first"
              }
      503:
        body:
          application/json:
            example: |
              {
                "data": {},
                "isSuccessful": false,
                "message": "Service Unavailable"
              } 
  /types:
    displayName: connectivityTypes
    get:
      description: List all the available connectivity types 
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "message": "",
                  "isSuccessful": "true",
                  "data": {
                    "count": 2,
                    "connectivityTypes": [
                      {
                        "id": "1",
                        "name": "IPSEC",
                        "friendlyName": "IPSec tunnel",
                        "properties": [
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "21",
                            "order": 1,
                            "maxLength": 100,
                            "helpMessage": "Name of the networking specialist in the customers IT network team",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "itname",
                            "label": "IT Network Specialist Name",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "22",
                            "order": 2,
                            "maxLength": 100,
                            "helpMessage": "Contact email address",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "itemail",
                            "label": "IT Network Specialist Email",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "23",
                            "order": 3,
                            "maxLength": 100,
                            "helpMessage": "Contact Mobile Phone. This is requested as Mulesoft utilise SMS to transfer secret keys.",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "itphone",
                            "label": "IT Network Specialist Mobile",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "24",
                            "order": 4,
                            "maxLength": 40,
                            "helpMessage": "Public IP address of the gateway(s) connecting to the CloudHub VPC. (i.e. 217.18.136.66)",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "gatewayip",
                            "label": "Your External Gateway IP",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "25",
                            "order": 5,
                            "maxLength": 40,
                            "helpMessage": "The network address space for the customers network that CloudHub workers will be accessing. ",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "netaddrspace",
                            "label": "Your Internal Network Address Space",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "26",
                            "order": 6,
                            "maxLength": 40,
                            "helpMessage": "The Cloudhub Worker Address Space is a CIDR range of IP addresses that can be used for Cloudhub apps",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "chaddrspace",
                            "label": "CloudHub workers address space",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "27",
                            "order": 7,
                            "maxLength": 40,
                            "helpMessage": "The region where you want your VPC created (i.e. US East, US West, EU, Australia, Singapore, etc.)",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "region",
                            "label": "Region",
                            "type": "select",
                            "required": true,
                            "options": {
                              "eu-central-1": "EU (Frankfurt)",
                              "sa-east-1": "South America (Sao Paulo)",
                              "ap-northeast-1": "Asia Pacific (Tokyo)",
                              "eu-west-1": "EU (Ireland)",
                              "us-east-1": "US East (N. Virginia)",
                              "us-west-1": "US West (N. California)",
                              "us-west-2": "US West (Oregon)",
                              "ap-southeast-2": "Asia Pacific (Sydney)",
                              "ap-southeast-1": "Asia Pacific (Singapore)"
                            }
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "28",
                            "order": 8,
                            "maxLength": 40,
                            "helpMessage": "A TCP endpoint (host + port) internal to the customer's network that can be used to test comms.",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "testendp",
                            "label": "Test Endpoint",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "29",
                            "order": 9,
                            "maxLength": 40,
                            "helpMessage": "IKEv1 or IKEv2",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "ikev",
                            "label": "IKE version",
                            "type": "select",
                            "required": false,
                            "options": {
                              "IKEv2": "IKEv2",
                              "IKEv1": "IKEv1"
                            }
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "30",
                            "order": 10,
                            "maxLength": 40,
                            "helpMessage": "PKI, preshared key",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "authmeth",
                            "label": "Authentication method",
                            "type": "select",
                            "required": false,
                            "options": {
                              "Preshared Key": "Preshared Key",
                              "PKI": "PKI"
                            }
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "31",
                            "order": 11,
                            "maxLength": 40,
                            "helpMessage": "(i.e. AES256)",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "ikeencalg",
                            "label": "IKE Encryption algorithm",
                            "type": "select",
                            "required": false,
                            "options": {
                              "Blowfish": "Blowfish",
                              "DES-CBC": "DES-CBC",
                              "AES-CBC": "AES-CBC",
                              "3DES-CBC": "3DES-CBC or Triple-DES"
                            }
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "32",
                            "order": 12,
                            "maxLength": 40,
                            "helpMessage": "(i.e. hmac_sha1)",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "ikeauthalg",
                            "label": "IKE Authentication algorithm",
                            "type": "select",
                            "required": false,
                            "options": {
                              "HMAC-MD5": "HMAC-MD5",
                              "HMAC-SHA-1": "HMAC-SHA-1"
                            }
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "33",
                            "default": "",
                            "order": 13,
                            "maxLength": 40,
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "ikedhgrp",
                            "label": "IKE Diffie-Hellman group",
                            "type": "checkbox",
                            "required": false
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "34",
                            "default": "",
                            "order": 14,
                            "maxLength": 40,
                            "helpMessage": "(i.e. 86400 seconds)",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "p1ikelife",
                            "label": "Phase1 / IKE lifetime",
                            "type": "number",
                            "required": false
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "35",
                            "default": "",
                            "order": 15,
                            "maxLength": 40,
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "nattrv",
                            "label": "Nat traversal",
                            "type": "checkbox",
                            "required": false
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "36",
                            "order": 16,
                            "maxLength": 40,
                            "helpMessage": "aggressive/main",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "exmode",
                            "label": "Exchange mode",
                            "type": "select",
                            "required": false,
                            "options": {
                              "Main": "Main",
                              "Aggressive": "Aggressive"
                            }
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "37",
                            "order": 17,
                            "maxLength": 40,
                            "helpMessage": "(i.e. AES256)",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "encalg",
                            "label": "Encryption algorithm",
                            "type": "select",
                            "required": false,
                            "options": {
                              "HMAC-MD5": "HMAC-MD5",
                              "HMAC-SHA-1": "HMAC-SHA-1"
                            }
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "38",
                            "order": 18,
                            "maxLength": 40,
                            "helpMessage": "(i.e. hmac_sha1)",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "authalg",
                            "label": "Authentication algorithm",
                            "type": "select",
                            "required": false,
                            "options": {
                              "Blowfish": "Blowfish",
                              "DES-CBC": "DES-CBC",
                              "AES-CBC": "AES-CBC",
                              "3DES-CBC": "3DES-CBC or Triple-DES"
                            }
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "39",
                            "default": "",
                            "order": 19,
                            "maxLength": 40,
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "perffordsec",
                            "label": "Use Perfect Forward Secrecy",
                            "type": "checkbox",
                            "required": false
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "40",
                            "order": 20,
                            "maxLength": 40,
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "dhgrp",
                            "label": "Diffie-Hellman group",
                            "type": "select",
                            "required": false,
                            "options": {
                              "2": "2",
                              "20": "20",
                              "1": "1",
                              "5": "5",
                              "19": "19",
                              "15": "15",
                              "14": "14"
                            }
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "41",
                            "default": "",
                            "order": 21,
                            "maxLength": 40,
                            "helpMessage": "(i.e. 3600 seconds)",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "p2life",
                            "label": "Phase2 lifetime",
                            "type": "number",
                            "required": false
                          }
                        ],
                        "group": "IPSec tunnel"
                      },
                      {
                        "id": "2",
                        "name": "VPCPEERING",
                        "friendlyName": "VPC Peering",
                        "properties": [
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "42",
                            "order": 1,
                            "maxLength": 100,
                            "helpMessage": "Name of the networking specialist in the customers IT network team",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "itname",
                            "label": "IT Network Specialist Name",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "43",
                            "order": 2,
                            "maxLength": 100,
                            "helpMessage": "Contact email address",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "itemail",
                            "label": "IT Network Specialist Email",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "44",
                            "order": 3,
                            "maxLength": 40,
                            "helpMessage": "The Cloudhub Worker Address Space is a CIDR range of IP addresses that can be used for Cloudhub apps",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "chaddrspace",
                            "label": "CloudHub workers address space",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "45",
                            "order": 4,
                            "maxLength": 40,
                            "helpMessage": "(i.e. vpc-12345678)",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "vpcid",
                            "label": "Your VPC ID",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "46",
                            "order": 5,
                            "maxLength": 40,
                            "helpMessage": "(i.e. 12345678990)",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "amazonid",
                            "label": "Your Amazon Account ID",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "47",
                            "order": 6,
                            "maxLength": 40,
                            "helpMessage": "The region where you want your VPC created (i.e. US East, US West, EU, Australia, Singapore, etc)",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "region",
                            "label": "Region",
                            "type": "select",
                            "required": true,
                            "options": {
                              "eu-central-1": "EU (Frankfurt)",
                              "sa-east-1": "South America (Sao Paulo)",
                              "ap-northeast-1": "Asia Pacific (Tokyo)",
                              "eu-west-1": "EU (Ireland)",
                              "us-east-1": "US East (N. Virginia)",
                              "us-west-1": "US West (N. California)",
                              "us-west-2": "US West (Oregon)",
                              "ap-southeast-2": "Asia Pacific (Sydney)",
                              "ap-southeast-1": "Asia Pacific (Singapore)"
                            }
                          },
                          {
                            "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                            "id": "48",
                            "order": 7,
                            "maxLength": 40,
                            "helpMessage": "A TCP endpoint (host + port) internal to the customer's network that can be used to test comms",
                            "pattern": "^.*$",
                            "fieldType": "custom",
                            "name": "testendp",
                            "label": "Test Endpoint",
                            "type": "text",
                            "required": false
                          }
                        ],
                        "group": "VPC Peering"
                      }
                    ]
                  }
                }
        401:
          body:
            application/json: 
              example: |
                {
                  "data": [],
                  "isSuccessful": false,
                  "message": "You must login first"
                }
    # ++++++++++++++++++++++++++++++++++++++++++++++++++++++
    /{connectivityTypeId}:
      displayName: connectivityType
      get:
        description: Describe a datasource type and the attributes that define it
        responses:
          200:
            body: 
              application/json:
                example: |            
                  {
                    "message": "",
                    "isSuccessful": "true",
                    "data": {
                    "id":"1",
                    "name":"IPSEC",
                    "friendlyName": "IPSec Tunnel",
                      "properties": [
                        {
                          "id": 1,
                          "validationRegEx": "^.*$",
                          "order": 1,
                          "validationErrorMsg": "Invalid datasource username",
                          "fieldType": "custom",
                          "mandatory": "true",
                          "name": "specialistName",
                          "friendlyName": "IT Network Specialist",
                          "valueType": "text",
                          "maxSize": 20
                        },
                        {
                          "id": 2,
                          "validationRegEx": "^.*$",
                          "order": 2,
                          "validationErrorMsg": "Invalid datasource password",
                          "fieldType": "custom",
                          "mandatory": "true",
                          "name": "specialistEmail",
                          "friendlyName": "IT Network Specialist email",
                          "valueType": "text",
                          "maxSize": 20
                        },
                        {
                          "id": 3,
                          "validationRegEx": "^[0-9]*$",
                          "order": 3,
                          "validationErrorMsg": "Your external gateway IP",
                          "fieldType": "custom",
                          "mandatory": "true",
                          "name": "externalGatewayIP",
                          "friendlyName": "External gateway IP",
                          "valueType": "text",
                          "maxSize": 6
                        },
                        {
                          "id": 4,
                          "validationRegEx": "^.*$",
                          "order": 4,
                          "validationErrorMsg": "Invalid datasource language value",
                          "fieldType": "custom",
                          "mandatory": "true",
                          "name": "internalNetworkAddressSpace",
                          "friendlyName": "Internal network address space",
                          "valueType": "text",
                          "maxSize": 2
                        },
                        {
                          "id": 5,
                          "validationRegEx": "^[0-9]*$",
                          "order": 5,
                          "validationErrorMsg": "Invalid datasource system number",
                          "fieldType": "custom",
                          "mandatory": "true",
                          "name": "region",
                          "friendlyName": "Region",
                          "valueType": "text",
                          "maxSize": 3
                        },
                        {
                          "id": 6,
                          "validationRegEx": "^.*$",
                          "order": 6,
                          "validationErrorMsg": "",
                          "fieldType": "custom",
                          "mandatory": "true",
                          "name": "selectname",
                          "friendlyName": "Super Select",
                          "valueType": "select",
                          "maxSize": 20,
                          "options": {
                            "option1": "Option 1",
                            "option2": "Option 2"
                          }
                        },
                        {
                          "id": 7,
                          "validationRegEx": "^[0-9]*$",
                          "order": 5,
                          "validationErrorMsg": "Invalid datasource system number",
                          "fieldType": "custom",
                          "mandatory": "true",
                          "name": "checkbox",
                          "friendlyName": "True/false option",
                          "valueType": "checkbox",
                          "maxSize": 1
                        }
                      ]
                    }
                  }
          400:
            body:
              application/json: 
                example: |
                  {
                    "data": "",
                    "isSuccessful": false,
                    "message": "Validation failed"
                  }        
          401:
            body:
              application/json: 
                example: |
                  {
                    "data": [],
                    "isSuccessful": false,
                    "message": "You must login first"
                  }
  
  # ++++++++++++++++++++++++++++++++++++++++++++++++++++++
  /{connectivityId}:
    displayName: connectivityId
    get:
      description: Retrieves connectivity details
      responses:
        200:
         body:
            application/json:
              example: |
                {
                  "message": "",
                  "isSuccessful": "true",
                  "data": {
                    "id": "1",
                    "name": "IPSEC",
                    "friendlyName": "IPSec tunnel",
                    "properties": [
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "21",
                        "order": 1,
                        "maxLength": 100,
                        "helpMessage": "Name of the networking specialist in the customers IT network team",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "itname",
                        "label": "IT Network Specialist Name",
                        "type": "text",
                        "required": true
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "22",
                        "order": 2,
                        "maxLength": 100,
                        "helpMessage": "Contact email address",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "itemail",
                        "label": "IT Network Specialist Email",
                        "type": "text",
                        "required": true
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "23",
                        "order": 3,
                        "maxLength": 100,
                        "helpMessage": "Contact Mobile Phone. This is requested as Mulesoft utilise SMS to transfer secret keys.",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "itphone",
                        "label": "IT Network Specialist Mobile",
                        "type": "text",
                        "required": true
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "24",
                        "order": 4,
                        "maxLength": 40,
                        "helpMessage": "Public IP address of the gateway(s) connecting to the CloudHub VPC. (i.e. 217.18.136.66)",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "gatewayip",
                        "label": "Your External Gateway IP",
                        "type": "text",
                        "required": true
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "25",
                        "order": 5,
                        "maxLength": 40,
                        "helpMessage": "The network address space for the customers network that CloudHub workers will be accessing. ",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "netaddrspace",
                        "label": "Your Internal Network Address Space",
                        "type": "text",
                        "required": true
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "26",
                        "order": 6,
                        "maxLength": 40,
                        "helpMessage": "The Cloudhub Worker Address Space is a CIDR range of IP addresses that can be used for Cloudhub apps",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "chaddrspace",
                        "label": "CloudHub workers address space",
                        "type": "text",
                        "required": true
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "27",
                        "order": 7,
                        "maxLength": 40,
                        "helpMessage": "The region where you want your VPC created (i.e. US East, US West, EU, Australia, Singapore, etc.)",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "region",
                        "label": "Region",
                        "type": "select",
                        "required": true,
                        "options": {
                          "eu-central-1": "EU (Frankfurt)",
                          "sa-east-1": "South America (Sao Paulo)",
                          "ap-northeast-1": "Asia Pacific (Tokyo)",
                          "eu-west-1": "EU (Ireland)",
                          "us-east-1": "US East (N. Virginia)",
                          "us-west-1": "US West (N. California)",
                          "us-west-2": "US West (Oregon)",
                          "ap-southeast-2": "Asia Pacific (Sydney)",
                          "ap-southeast-1": "Asia Pacific (Singapore)"
                        }
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "28",
                        "order": 8,
                        "maxLength": 40,
                        "helpMessage": "A TCP endpoint (host + port) internal to the customer's network that can be used to test comms.",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "testendp",
                        "label": "Test Endpoint",
                        "type": "text",
                        "required": true
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "29",
                        "order": 9,
                        "maxLength": 40,
                        "helpMessage": "IKEv1 or IKEv2",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "ikev",
                        "label": "IKE version",
                        "type": "select",
                        "required": false,
                        "options": {
                          "IKEv2": "IKEv2",
                          "IKEv1": "IKEv1"
                        }
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "30",
                        "order": 10,
                        "maxLength": 40,
                        "helpMessage": "PKI, preshared key",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "authmeth",
                        "label": "Authentication method",
                        "type": "select",
                        "required": false,
                        "options": {
                          "Preshared Key": "Preshared Key",
                          "PKI": "PKI"
                        }
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "31",
                        "order": 11,
                        "maxLength": 40,
                        "helpMessage": "(i.e. AES256)",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "ikeencalg",
                        "label": "IKE Encryption algorithm",
                        "type": "select",
                        "required": false,
                        "options": {
                          "Blowfish": "Blowfish",
                          "DES-CBC": "DES-CBC",
                          "AES-CBC": "AES-CBC",
                          "3DES-CBC": "3DES-CBC or Triple-DES"
                        }
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "32",
                        "order": 12,
                        "maxLength": 40,
                        "helpMessage": "(i.e. hmac_sha1)",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "ikeauthalg",
                        "label": "IKE Authentication algorithm",
                        "type": "select",
                        "required": false,
                        "options": {
                          "HMAC-MD5": "HMAC-MD5",
                          "HMAC-SHA-1": "HMAC-SHA-1"
                        }
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "33",
                        "default": "",
                        "order": 13,
                        "maxLength": 40,
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "ikedhgrp",
                        "label": "IKE Diffie-Hellman group",
                        "type": "checkbox",
                        "required": false
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "34",
                        "default": "",
                        "order": 14,
                        "maxLength": 40,
                        "helpMessage": "(i.e. 86400 seconds)",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "p1ikelife",
                        "label": "Phase1 / IKE lifetime",
                        "type": "number",
                        "required": false
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "35",
                        "default": "",
                        "order": 15,
                        "maxLength": 40,
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "nattrv",
                        "label": "Nat traversal",
                        "type": "checkbox",
                        "required": false
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "36",
                        "order": 16,
                        "maxLength": 40,
                        "helpMessage": "aggressive/main",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "exmode",
                        "label": "Exchange mode",
                        "type": "select",
                        "required": false,
                        "options": {
                          "Main": "Main",
                          "Aggressive": "Aggressive"
                        }
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "37",
                        "order": 17,
                        "maxLength": 40,
                        "helpMessage": "(i.e. AES256)",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "encalg",
                        "label": "Encryption algorithm",
                        "type": "select",
                        "required": false,
                        "options": {
                          "HMAC-MD5": "HMAC-MD5",
                          "HMAC-SHA-1": "HMAC-SHA-1"
                        }
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "38",
                        "order": 18,
                        "maxLength": 40,
                        "helpMessage": "(i.e. hmac_sha1)",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "authalg",
                        "label": "Authentication algorithm",
                        "type": "select",
                        "required": false,
                        "options": {
                          "Blowfish": "Blowfish",
                          "DES-CBC": "DES-CBC",
                          "AES-CBC": "AES-CBC",
                          "3DES-CBC": "3DES-CBC or Triple-DES"
                        }
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "39",
                        "default": "",
                        "order": 19,
                        "maxLength": 40,
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "perffordsec",
                        "label": "Use Perfect Forward Secrecy",
                        "type": "checkbox",
                        "required": false
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "40",
                        "order": 20,
                        "maxLength": 40,
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "dhgrp",
                        "label": "Diffie-Hellman group",
                        "type": "select",
                        "required": false,
                        "options": {
                          "2": "2",
                          "20": "20",
                          "1": "1",
                          "5": "5",
                          "19": "19",
                          "15": "15",
                          "14": "14"
                        }
                      },
                      {
                        "errorMessage": "{ \"required\": \"Required field\", \"number\": \"Invalid value\" }",
                        "id": "41",
                        "default": "",
                        "order": 21,
                        "maxLength": 40,
                        "helpMessage": "(i.e. 3600 seconds)",
                        "pattern": "^.*$",
                        "fieldType": "custom",
                        "name": "p2life",
                        "label": "Phase2 lifetime",
                        "type": "number",
                        "required": false
                      }
                    ],
                    "group": "IPSec tunnel"
                  }
                }                 
        401:
          body:
            application/json: 
              example: |
                {
                  "data": [],
                  "isSuccessful": false,
                  "message": "You must login first"
                }
        404:
          body:
            application/json: 
              example: |
                {
                  "data": [],
                  "isSuccessful": false,
                  "message": "Gateway not found"
                }     
    # *****************************************************
    put:
      description: Updates the gateway resource
      body:
        application/json:
          example: |
            {
              "name": "VPC1",
              "description": "My very own VPC setup",
              "connectivityTypeId": "1",
              "draft": "false",
              "properties": {
                "specialistName": "Bart",
                "region": "North",
                "specialistEmail": "bla@mail.com"
              }
            }
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "data": {},
                  "isSuccessful": true,
                  "message": ""
                }
        400:
          body:
            application/json: 
              example: |
                {
                  "data": ["field 1 is invalid", "field 2 is invalid"],
                  "isSuccessful": false,
                  "message": "Validation failed"
                } 
        401:
          body:
            application/json: 
              example: |
                {
                  "data": [],
                  "isSuccessful": false,
                  "message": "You must login first"
                }           
    # *****************************************************
    delete:
      description: Allows you to delete a connectivity definition
      responses:
        202:
          body:
            application/json:
              example: |
                {
                  "data": {},
                  "isSuccessful": true,
                  "message": ""
                }
        401:
          body:
            application/json: 
              example: |
                {
                  "data": [],
                  "isSuccessful": false,
                  "message": "You must login first"
                }                
# ------------------------------------------------------
/datasources:
  displayName: datasources
  get:
    description: List of datasources
    queryParameters:
      search:
        displayName: SearchTerm
        type: string
        description: Search Term
        example: bla
        minLength: 2
        required: false
      gatewayType:
        displayName: relatedGatewayType 
        type: number
        description: related gatewayType 
        example: 1
        minimum: 0
        required: false  
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "message": "",
                "isSuccessful": "true",
                "data": {
                  "datasources": [
                    {
                      "id": "1",
                      "name": "Example Datasource",
                      "description": "This is a datasource to expose blah data",
                      "datasourceTypeId": "1",
                      "draft":"false",
                      "sdg": {
                        "enabled": true,
                        "agentId": 1
                      },
                      "properties": {
                        "address":"my-domain.com",
                        "port": "80",
                        "user": "a_user_name",
                        "password": "a_password",
                        "idocProgramId":"idoc_receive",
                        "jco1":"iamafile.jar",
                        "jco2":"file1.jar",
                        "jco3":"anotherfile.log"
                      }
                    },
                    {
                      "id": "2",
                      "name": "Example Datasource 2",
                      "description": "This is a datasource to expose blah data",
                      "datasourceTypeId": "1",
                      "sdg": {
                        "enabled": false,
                        "agentId": null
                      },
                      "draft":"false",
                      "properties": {
                        "address":"my-domain.com",
                        "port": "80",
                        "user": "a_user_name",
                        "password": "a_password",
                        "idocProgramId":"idoc_receive",
                        "jco1":"iamafile.jar",
                        "jco2":"file1.jar",
                        "jco3":"anotherfile.log" 
                      }
                    }
                  ]
                }
              }
      401:
        body:
          application/json: 
            example: |
              {
                "data": [],
                "isSuccessful": false,
                "message": "You must login first"
              }
      503:
        body:
          application/json:
            example: |
              {
                "data": [],
                "isSuccessful": false,
                "message": "Service Unavailable"
              }
  post:
    description: Set the gateway initial setup
    body:
      application/json:
        example:  |
          {
            "name": "SAP Datasource",
            "description": "This is a datasource to expose SAP data",
            "datasourceTypeId": "1",
            "draft": "false",
            "sdg": {
              "agentId": 3,
              "enabled": true
              },
            "properties": {
              "address": "123.238.245.8",
              "client": "800",
              "username": "ECC1430",
              "password": "mulePass!!",
              "lang":"EN",
              "sysnr":"14"
            }
          }
    responses:
      201:
        body:
          application/json:
            example: |
              {
                "data": {"id":"1"},
                "isSuccessful": true,
                "message": ""
              }
      400:
        body:
          application/json: 
            example: |
              {
                "data": ["field 1 is invalid", "field 2 is invalid"],
                "isSuccessful": false,
                "message": "Validation failed"
              }  
      401:
        body:
          application/json: 
            example: |
              {
                "data": [],
                "isSuccessful": false,
                "message": "You must login first"
              }
      503:
        body:
          application/json:
            example: |
              {
                "data": {},
                "isSuccessful": false,
                "message": "Service Unavailable"
              } 
  # ------------------------------------------------------
  /validate:
    /name:
      displayName: validates the name for uniqueness  
      post:
        description: Validates the datasource name
        body:
          application/json:
            schema: |
              {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "type": "object",
                "properties": {
                  "validate" : { 
                    "maxLength": 45,
                    "type" : "string" 
                    }
                  },
                "required": ["validate"]  
              }
            example: |
              {
                "validate": "DatasourceName"
              }
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                    "data": {
                      "valid": true
                    },
                    "isSuccessful": true,
                    "message": ""
                  }
          400:
            body:
              application/json: 
                example: |
                  {
                    "data": [],
                    "isSuccessful": false,
                    "message": "Validation failed"
                  } 
          401:
            body:
              application/json: 
                example: |
                  {
                    "data": [],
                    "isSuccessful": false,
                    "message": "You must login first"
                  } 
  # ------------------------------------------------------  
  /types:
    displayName: datasourceTypes
    get:
      description: List all the available datasource types 
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "message": "",
                  "isSuccessful": "true",
                  "data": {
                    "count": 8,
                    "datasourceTypes": [
                      {
                        "id": "1",
                        "enabled": true,
                        "name": "SAP",
                        "friendlyName": "SAP",
                        "properties": [
                          {
                            "errorMessage": "Invalid Address format",
                            "id": "1",
                            "order": 5,
                            "maxLength": 100,
                            "pattern": "(^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$)|^(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\\-]*[A-Za-z0-9])$",
                            "fieldType": "custom",
                            "placeholder": "ex. 120.10.16.10",
                            "name": "address",
                            "label": "Host Address",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid datasource username",
                            "id": "2",
                            "order": 6,
                            "maxLength": 20,
                            "pattern": "^(\\w{1,20}){1}$",
                            "fieldType": "custom",
                            "placeholder": "SAP username",
                            "name": "username",
                            "label": "Username",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid datasource password",
                            "id": "3",
                            "order": 7,
                            "maxLength": 20,
                            "pattern": "^([\\s\\S]{1,20})$",
                            "fieldType": "custom",
                            "placeholder": "SAP password",
                            "name": "password",
                            "label": "Password",
                            "type": "password",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid datasource client number",
                            "id": "4",
                            "default": "",
                            "order": 10,
                            "maxLength": 6,
                            "pattern": "^[0-9]{1,6}$",
                            "fieldType": "custom",
                            "placeholder": "Client Number - found on SAP login screen",
                            "name": "client",
                            "label": "Client Number",
                            "type": "number",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid datasource language value",
                            "id": "5",
                            "typeahead": "SR,ZH,TH,KO,RO,SL,HR,MS,UK,ET,AR,HE,CS,DE,EN,FR,EL,HU,IT,JA,DA,PL,ZF,NL,NO,PT,SK,RU,ES,TR,FI,SV,BG,LT,LV,Z1,AF,IS,CA,SH,ID",
                            "order": 9,
                            "maxLength": 2,
                            "pattern": "^([a-z]|[A-Z]){2}$",
                            "fieldType": "custom",
                            "placeholder": "ex. English = \"EN\"",
                            "name": "lang",
                            "label": "Language",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid datasource system number",
                            "id": "6",
                            "default": "",
                            "order": 8,
                            "maxLength": 3,
                            "pattern": "^[0-9]{1,3}$",
                            "fieldType": "custom",
                            "placeholder": "System Number - found on SAP login screen",
                            "name": "sysnr",
                            "label": "Sys Number",
                            "type": "number",
                            "required": true
                          },
                          {
                            "id": "7",
                            "order": 14,
                            "maxLength": 50,
                            "helpMessage": "SAP IDOC Class Library, e. g. sapidoc-3.0.7.jar (for Linux)",
                            "pattern": "^(sapidoc-)(\\w.*)(.jar)",
                            "accept": ".jar",
                            "fieldType": "custom",
                            "name": "jco1",
                            "label": "SAP IDoc JCo Library (sapidoc-x.jar)",
                            "type": "file",
                            "required": true
                          },
                          {
                            "id": "8",
                            "order": 15,
                            "maxLength": 50,
                            "helpMessage": "SAP JCo Library (suitable for your operation system), e. g. sapjco-3.0.7.jar (for Linux)",
                            "pattern": "^(sapjco-)(\\w.*)(.jar)",
                            "accept": ".jar",
                            "fieldType": "custom",
                            "name": "jco2",
                            "label": "SAP JCo Library (sapjco-x.jar)",
                            "type": "file",
                            "required": true
                          },
                          {
                            "id": "9",
                            "order": 16,
                            "maxLength": 50,
                            "helpMessage": "SAP JCo Native Library (suitable for your operation system), e. g. libsapjco3.so (for Linux)",
                            "pattern": "^(libsapjco-)(\\w.*)(.jar)",
                            "accept": ".so",
                            "fieldType": "custom",
                            "name": "jco3",
                            "label": "SAP JCo Native Library (libsapjco-x.so)",
                            "type": "file",
                            "required": true
                          },
                          {
                            "id": "20",
                            "order": 1,
                            "fieldType": "custom",
                            "name": "label1",
                            "label": "Connection Details",
                            "type": "title",
                            "required": false
                          },
                          {
                            "id": "23",
                            "feedback": true,
                            "errorMessage": "{  \"required\": \"Name is mandatory\", \"validationurl\": \"That name is already in use\" }",
                            "maxLength": 100,
                            "order": 2,
                            "pattern": "^([\\s\\S]{1,100})$",
                            "placeholder": "Name your Connection",
                            "fieldType": "custom",
                            "name": "name",
                            "label": "Name",
                            "required": true,
                            "type": "text",
                            "validationUrl": "/api/datasources/validate/name"
                          },
                          {
                            "id": "24",
                            "order": 3,
                            "maxLength": 100,
                            "pattern": "^([\\s\\S]{1,100})$",
                            "fieldType": "custom",
                            "placeholder": "Enter notes to describe connection (optional)",
                            "name": "description",
                            "label": "Description",
                            "type": "text",
                            "required": false
                          },
                          {
                            "id": "29",
                            "order": 4,
                            "fieldType": "custom",
                            "name": "label2",
                            "label": "Connection & Security",
                            "type": "title",
                            "required": false
                          }
                        ],
                        "group": "SAP"
                      },
                      {
                        "id": "2",
                        "enabled": true,
                        "name": "MySQL",
                        "friendlyName": "MySQL",
                        "properties": [
                          {
                            "errorMessage": "The host is missing",
                            "id": "10",
                            "order": 5,
                            "maxLength": 120,
                            "pattern": "(^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$)|^(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\\-]*[A-Za-z0-9])$",
                            "fieldType": "custom",
                            "placeholder": "ex. 120.10.16.10",
                            "name": "host",
                            "label": "Host Address",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Port",
                            "id": "12",
                            "default": "",
                            "order": 6,
                            "maxLength": 6,
                            "pattern": "^0*(?:6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{1,3}|[0-9])$",
                            "fieldType": "custom",
                            "placeholder": "Port number",
                            "name": "port",
                            "label": "Port",
                            "type": "number",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Schema name",
                            "id": "13",
                            "order": 7,
                            "maxLength": 45,
                            "pattern": "^([\\s\\S]{1,45})$",
                            "fieldType": "custom",
                            "placeholder": "Enter schema",
                            "name": "schema",
                            "label": "Schema",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB username",
                            "id": "14",
                            "order": 8,
                            "maxLength": 20,
                            "pattern": "^(\\w{1,20}){1}$",
                            "fieldType": "custom",
                            "placeholder": "DB username",
                            "name": "user",
                            "label": "Username",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Password",
                            "id": "15",
                            "order": 9,
                            "maxLength": 30,
                            "pattern": "^([\\s\\S]{1,30})$",
                            "fieldType": "custom",
                            "placeholder": "DB password",
                            "name": "password",
                            "label": "Password",
                            "type": "password",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid value, true or false expected",
                            "id": "16",
                            "default": "",
                            "order": 11,
                            "maxLength": 5,
                            "pattern": "^true|TRUE|false|FALSE&",
                            "fieldType": "custom",
                            "name": "requireSSL",
                            "label": "Require SSL?",
                            "type": "checkbox",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid value, true or false expected",
                            "id": "17",
                            "default": "",
                            "order": 12,
                            "maxLength": 5,
                            "pattern": "^true|TRUE|false|FALSE&",
                            "fieldType": "custom",
                            "name": "verifyServerCertificate",
                            "label": "Verify Server Certificate?",
                            "type": "checkbox",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid value, true or false expected",
                            "id": "18",
                            "default": "",
                            "order": 10,
                            "maxLength": 5,
                            "pattern": "^true|TRUE|false|FALSE&",
                            "fieldType": "custom",
                            "name": "useSSL",
                            "label": "Use SSL?",
                            "type": "checkbox",
                            "required": true
                          },
                          {
                            "id": "25",
                            "order": 1,
                            "fieldType": "custom",
                            "name": "label1",
                            "label": "Connection Details",
                            "type": "title",
                            "required": false
                          },
                          {
                            "id": "26",
                            "feedback": true,
                            "errorMessage": "{  \"required\": \"Name is mandatory\", \"validationurl\": \"That name is already in use\" }",
                            "maxLength": 100,
                            "order": 2,
                            "pattern": "^([\\s\\S]{1,100})$",
                            "placeholder": "Name your Connection",
                            "fieldType": "custom",
                            "name": "name",
                            "label": "Name",
                            "required": true,
                            "type": "text",
                            "validationUrl": "/api/datasources/validate/name"
                          },
                          {
                            "id": "27",
                            "order": 3,
                            "maxLength": 100,
                            "pattern": "^([\\s\\S]{1,100})$",
                            "fieldType": "custom",
                            "placeholder": "Enter notes to describe connection (optional)",
                            "name": "description",
                            "label": "Description",
                            "type": "text",
                            "required": false
                          },
                          {
                            "id": "28",
                            "order": 4,
                            "fieldType": "custom",
                            "name": "label2",
                            "label": "Connection & Security",
                            "type": "title",
                            "required": false
                          }
                        ],
                        "group": "MySQL"
                      },
                      {
                        "id": "3",
                        "enabled": true,
                        "name": "Oracle",
                        "friendlyName": "Oracle DB",
                        "properties": [
                          {
                            "id": "31",
                            "order": 1,
                            "fieldType": "custom",
                            "name": "label1",
                            "label": "Connection Details",
                            "type": "title",
                            "required": false
                          },
                          {
                            "id": "32",
                            "feedback": true,
                            "errorMessage": "{  \"required\": \"Name is mandatory\", \"validationurl\": \"That name is already in use\" }",
                            "maxLength": 100,
                            "order": 2,
                            "pattern": "^([\\s\\S]{1,100})$",
                            "placeholder": "Name your Connection",
                            "fieldType": "custom",
                            "name": "name",
                            "label": "Name",
                            "required": true,
                            "type": "text",
                            "validationUrl": "/api/datasources/validate/name"
                          },
                          {
                            "id": "33",
                            "order": 3,
                            "maxLength": 100,
                            "pattern": "^([\\s\\S]{1,100})$",
                            "fieldType": "custom",
                            "placeholder": "Enter notes to describe connection (optional)",
                            "name": "description",
                            "label": "Description",
                            "type": "text",
                            "required": false
                          },
                          {
                            "id": "34",
                            "order": 4,
                            "fieldType": "custom",
                            "name": "label2",
                            "label": "Connection & Security",
                            "type": "title",
                            "required": false
                          },
                          {
                            "errorMessage": "The host is missing",
                            "id": "35",
                            "order": 5,
                            "maxLength": 120,
                            "pattern": "(^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$)|^(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\\-]*[A-Za-z0-9])$",
                            "fieldType": "custom",
                            "placeholder": "ex. 120.10.16.10",
                            "name": "host",
                            "label": "Host Address",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Port",
                            "id": "36",
                            "default": "",
                            "order": 6,
                            "maxLength": 6,
                            "pattern": "^0*(?:6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{1,3}|[0-9])$",
                            "fieldType": "custom",
                            "placeholder": "Port number",
                            "name": "port",
                            "label": "Port",
                            "type": "number",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Schema name",
                            "id": "37",
                            "order": 8,
                            "maxLength": 45,
                            "pattern": "^([\\s\\S]{1,45})$",
                            "fieldType": "custom",
                            "placeholder": "Enter schema",
                            "name": "schema",
                            "label": "Schema",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB username",
                            "id": "38",
                            "order": 9,
                            "maxLength": 20,
                            "pattern": "^(\\w{1,20}){1}$",
                            "fieldType": "custom",
                            "placeholder": "DB username",
                            "name": "user",
                            "label": "Username",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Password",
                            "id": "39",
                            "order": 10,
                            "maxLength": 30,
                            "pattern": "^([\\s\\S]{1,30})$",
                            "fieldType": "custom",
                            "placeholder": "DB password",
                            "name": "password",
                            "label": "Password",
                            "type": "password",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Service ID",
                            "id": "79",
                            "order": 7,
                            "maxLength": 45,
                            "pattern": "^(([0-9]|[aA-zZ])(-|_)*){3,10}$",
                            "fieldType": "custom",
                            "placeholder": "Enter SID",
                            "name": "sid",
                            "label": "Service ID",
                            "type": "text",
                            "required": true
                          }
                        ],
                        "group": "Oracle DB"
                      },
                      {
                        "id": "4",
                        "enabled": true,
                        "name": "MSSQL",
                        "friendlyName": "MS SQL",
                        "properties": [
                          {
                            "id": "43",
                            "order": 1,
                            "fieldType": "custom",
                            "name": "label1",
                            "label": "Connection Details",
                            "type": "title",
                            "required": false
                          },
                          {
                            "errorMessage": "Name is mandatory",
                            "id": "44",
                            "order": 2,
                            "maxLength": 100,
                            "pattern": "^([\\s\\S]{1,100})$",
                            "fieldType": "custom",
                            "placeholder": "Name your Connection",
                            "name": "name",
                            "label": "Name",
                            "type": "text",
                            "required": true
                          },
                          {
                            "id": "45",
                            "order": 3,
                            "maxLength": 100,
                            "pattern": "^([\\s\\S]{1,100})$",
                            "fieldType": "custom",
                            "placeholder": "Enter notes to describe connection (optional)",
                            "name": "description",
                            "label": "Description",
                            "type": "text",
                            "required": false
                          },
                          {
                            "id": "46",
                            "order": 4,
                            "fieldType": "custom",
                            "name": "label2",
                            "label": "Connection & Security",
                            "type": "title",
                            "required": false
                          },
                          {
                            "errorMessage": "The host is missing",
                            "id": "47",
                            "order": 5,
                            "maxLength": 120,
                            "pattern": "(^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$)|^(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\\-]*[A-Za-z0-9])$",
                            "fieldType": "custom",
                            "placeholder": "ex. 120.10.16.10",
                            "name": "host",
                            "label": "Host Address",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Port",
                            "id": "48",
                            "default": "",
                            "order": 6,
                            "maxLength": 6,
                            "pattern": "^0*(?:6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{1,3}|[0-9])$",
                            "fieldType": "custom",
                            "placeholder": "Port number",
                            "name": "port",
                            "label": "Port",
                            "type": "number",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Schema name",
                            "id": "49",
                            "order": 8,
                            "maxLength": 45,
                            "pattern": "^([\\s\\S]{1,45})$",
                            "fieldType": "custom",
                            "placeholder": "Enter schema",
                            "name": "schema",
                            "label": "Schema",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB username",
                            "id": "50",
                            "order": 9,
                            "maxLength": 20,
                            "pattern": "^(\\w{1,20}){1}$",
                            "fieldType": "custom",
                            "placeholder": "DB username",
                            "name": "user",
                            "label": "Username",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Password",
                            "id": "51",
                            "order": 10,
                            "maxLength": 30,
                            "pattern": "^([\\s\\S]{1,30})$",
                            "fieldType": "custom",
                            "placeholder": "DB password",
                            "name": "password",
                            "label": "Password",
                            "type": "password",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Name",
                            "id": "52",
                            "order": 7,
                            "maxLength": 45,
                            "pattern": "^([\\s\\S]{1,45})$",
                            "fieldType": "custom",
                            "placeholder": "DB Name",
                            "name": "databaseName",
                            "label": "Database Name",
                            "type": "text",
                            "required": true
                          }
                        ],
                        "group": "MS SQL"
                      },
                      {
                        "id": "5",
                        "enabled": true,
                        "name": "DB2",
                        "friendlyName": "DB2",
                        "properties": [
                          {
                            "id": "55",
                            "order": 1,
                            "fieldType": "custom",
                            "name": "label1",
                            "label": "Connection Details",
                            "type": "title",
                            "required": false
                          },
                          {
                            "errorMessage": "Name is mandatory",
                            "id": "56",
                            "order": 2,
                            "maxLength": 100,
                            "pattern": "^([\\s\\S]{1,100})$",
                            "fieldType": "custom",
                            "placeholder": "Name your Connection",
                            "name": "name",
                            "label": "Name",
                            "type": "text",
                            "required": true
                          },
                          {
                            "id": "57",
                            "order": 3,
                            "maxLength": 100,
                            "pattern": "^([\\s\\S]{1,100})$",
                            "fieldType": "custom",
                            "placeholder": "Enter notes to describe connection (optional)",
                            "name": "description",
                            "label": "Description",
                            "type": "text",
                            "required": false
                          },
                          {
                            "id": "58",
                            "order": 4,
                            "fieldType": "custom",
                            "name": "label2",
                            "label": "Connection & Security",
                            "type": "title",
                            "required": false
                          },
                          {
                            "errorMessage": "The host is missing",
                            "id": "59",
                            "order": 5,
                            "maxLength": 120,
                            "pattern": "(^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$)|^(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\\-]*[A-Za-z0-9])$",
                            "fieldType": "custom",
                            "placeholder": "ex. 120.10.16.10",
                            "name": "host",
                            "label": "Host Address",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Port",
                            "id": "60",
                            "default": "",
                            "order": 6,
                            "maxLength": 6,
                            "pattern": "^0*(?:6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{1,3}|[0-9])$",
                            "fieldType": "custom",
                            "placeholder": "Port number",
                            "name": "port",
                            "label": "Port",
                            "type": "number",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Schema name",
                            "id": "61",
                            "order": 8,
                            "maxLength": 45,
                            "pattern": "^([\\s\\S]{1,45})$",
                            "fieldType": "custom",
                            "placeholder": "Enter schema",
                            "name": "schema",
                            "label": "Schema",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB username",
                            "id": "62",
                            "order": 9,
                            "maxLength": 20,
                            "pattern": "^(\\w{1,20}){1}$",
                            "fieldType": "custom",
                            "placeholder": "DB username",
                            "name": "user",
                            "label": "Username",
                            "type": "text",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Password",
                            "id": "63",
                            "order": 10,
                            "maxLength": 30,
                            "pattern": "^([\\s\\S]{1,30})$",
                            "fieldType": "custom",
                            "placeholder": "DB password",
                            "name": "password",
                            "label": "Password",
                            "type": "password",
                            "required": true
                          },
                          {
                            "errorMessage": "Invalid DB Name",
                            "id": "64",
                            "order": 7,
                            "maxLength": 45,
                            "pattern": "^([\\s\\S]{1,45})$",
                            "fieldType": "custom",
                            "placeholder": "DB Name",
                            "name": "databaseName",
                            "label": "Database Name",
                            "type": "text",
                            "required": true
                          }
                        ],
                        "group": "DB2"
                      },
                      {
[...]
